html {
    padding: 0;
    margin: 0;
    // background: url(https://images.pexels.com/photos/237464/pexels-photo-237464.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-color: black;
    background-size: cover;
    font-family: sans-serif;

}



.keys {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 300px auto;
    cursor: pointer;


    div {
        height: 50px;
        width: 50px;
        margin-left: 20px;
        border: gold 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.07s;

        kbd {
            color: white;
            font-size: 20px;
            text-align: center;
        }

        span {
            text-align: center;
            font-size: 10px;
            color: goldenrod;
        }

    }
}

.pukul {

    background-color: goldenrod;
    box-shadow: 0 0 10px #ffc600;

}